body {
    overflow-x: hidden;
}
.wrapper {
    position: relative;
    min-width: 1200px;
    margin: 0 auto;
}
.header__top {
    width: 100%;
    position: absolute;
    padding: 27px 0;
    background: rgba(94, 93, 88, 0.6);
    z-index: 100;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__link {
    display: flex;
    align-items: center;
}
.logo__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/icons/Polygon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 58px;
    height: 67px;
}
.logo__pic-letter {
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.logo__title {
    margin-left: 6px;
    font-size: 32px;
    color: white;
}
.logo__title-colored {
    font-weight: bold;
    color: #18CFAB;
}
.menu__list {
    display: flex;
    align-items: center;
}
.menu__list-item {
    font-weight: 700;
    margin-left: 21.09px;
}
.menu__link:hover {
    color: #18CFAB;
    padding-bottom: 48.74px;
    border-bottom: 2px solid #18CFAB;
}
.menu__link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
.menu__list-img {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    cursor: pointer;
}
.header__content {
    position: relative;
    background: url('images/Sections-background/section-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 1;
}
.header__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 379px 0 243px 0;
}
.header__content-title {
    text-align: center;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;
}
.header__content-title-colored {
    color: #18CFAB;
}
.header__content-slogan {
    text-align: center;
    color: white;
    font-size: 78px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;
}
.header__content-subtitle {
    text-align: center;
    font-size: 34px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 129px;
}
.btn-container {
    display: flex;
    align-items: center;
}
.u-btn {
    position: relative;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    height: 63px;
    min-width: 169px;
}
.btn-container__button-explore {
    background-color: #18CFAB;
}
.btn-container__button-explore:hover {
    background: linear-gradient(90deg,#18CFAB,#0ff09a);
}
.btn-container__button-purchase {
    background-color: #00CBF6;
}
.btn-container__button-purchase:hover {
    background: linear-gradient(90deg,#00CBF6,#0574f3);
}
.u-btn-decor {
    margin: 0 13px;
    font-weight: 700;
    font-size: 15px;
}
.u-btn-decor::after {
    content: "";
    position: absolute;
    border: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: white;
    top: -5px;
    left: 0;
    z-index: -1;
}
.about {
    margin-bottom: 83px;
}
.about-inner {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}
.about__item {
    position: relative;
    display: flex;
    flex-basis: 480px;
    flex-direction: column;
    align-items: center;
}
.about__item::after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 8px;
    top: 0;
    left: 0;
}
.item-odd {
    color: #18CFAB;
    background: #1C2A33;
}
.item-even {
    color: #fff;
    background: #18CFAB;
}
.about__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    margin: 95px 0 47px 0;
}
.about__title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 110px;
}
.services {
    margin-bottom: 71px;
}
.services-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.u-title {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    position: relative;
}
.services__title {
    margin-bottom: 101px;
}
.u-title-decor::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: calc(100% + 26px);
    left: 35%;
}
.u-title-decor::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: calc(100% + 30px);
    left: 40%;
}
.services__tabs-list {
    display: flex;
    width: 100%;
    margin-bottom: 28px;
}
.services__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 192px;
    min-height: 72px;
    padding: 0 20px;
    line-height: 24px;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
}
.services__tab:first-child {
    border-left: 0;
}
.services__tab {
    border-right: 0;
}
.services__tab:not(.services__tab--active) {
    cursor: pointer;
}
.services__tab:not(.services__tab--active, :last-child, :first-child):hover {
    border: 1.5px solid #18CFAB;
    padding-right: 19px;
}
.services__tab:not(.services__tab--active):first-child:hover {
    border: 1.5px solid #18CFAB;
    padding: 18.5px;
}
.services__tab:not(.services__tab--active):last-child:hover {
    border: 1.5px solid #18CFAB;
    padding-right: 18.5px;
}
.services__tab--active {
    position: relative;
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    color: white;
}
.services__tab--active::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #18CFAB;
    clip-path: polygon(50% 47%, 0% 100%, 100% 100%);
    transform: scaleY(-1);
    top: 100%;
    left: calc(50% - 11px);
}
.services__content {
    display: none;
    width: 100%;
    min-height: 150px
}
.services__content--active {
    display: flex;
}
.services__content-img {
    width: 192px;
    height: 139px;
}
.services__img {
    width: 192px;
    height: 139px;
}
.services__content-text {
    margin-left: 15px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
}
.product {
    position: relative;
    background: url("images/Sections-background/section-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.product::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 3px);
    background-color: rgba(10, 1, 1, 0.781);
    top: 3px;
    left: 0;
    z-index: 5;
}
.product-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.produt__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #18CFAB;
    margin: 127px 0 12px 0;
}
.product__text {
    color: #D8D8D8;
    text-align: center;
    font-weight: 400;
    margin-bottom: 62px;
}
.product__button-purchase {
    background: #18CFAB;
    margin-bottom: 127px;
}
.product__button-purchase:hover {
    background: linear-gradient(90deg,#18CFAB,#0ff09a);
}
.work {
    background-color: #E9EDEF;
    margin-bottom: 82px;
}
.work-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work__title {
    margin: 95px 0 97px 0;
}
.work__filters {
    display: flex;
    margin-bottom: 71px;
}
.work__filter {
    box-sizing: border-box;
    min-width: 79px;
    padding: 25px 15px 24px 15px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    border: 1px solid #DADADA;
}
.work__filter:not(.work__filter--active) {
    cursor: pointer;
}
.work__filter:hover {
    border: 1px solid #18CFAB;
}
.work__filter--active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.work__designs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.work__item {
    display: none;
}
.work__item--active {
    display: block;
    cursor: pointer;
    width: 285px;
    height: 206px;
}
.work__img {
    width: 100%;
    height: 100%;
}
.work__item-settings {
    display: none;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-top: 6px solid #18CFAB;
    width: 284px;
    background: #E9EDEF;
}
.work__buttons {
    display: flex;
    margin: 46px 0 41px 0;
    justify-content: center;
}
.work__buttons-item {
    cursor: pointer;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    color: #18CFAB;
    margin-right: 3px;
}
.work__buttons-item:hover {
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    color: white;
}
.work__buttons-connect {
    padding: 13px;
}
.work__buttons-add {
    padding: 15px;
}
.work__buttons-square-item {
    width: 12px;
    height: 12px;
    background-color: #18CFAB;
}
.work__buttons-add:hover .work__buttons-square-item {
    background-color: white;
}
.designs-title {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #18CFAB;
    font-weight: 700;
    margin-bottom: 12px;
}
.designs-subtitle {
    display: block;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    margin-bottom: 33px;
}
.work__item--active:hover .work__img {
    display: none;
}
.work__item--active:hover .work__item-settings{
    display: flex;
}
.work__button {
    display: none;
    margin-bottom: 99px;
}
.work__button--active {
    display: block;
}
.work__loading-btn {
    margin-bottom: 79px;
}
.u-loading-btn {
    display: none;
    transform: translateZ(1px);
  }
  .work__loading-btn--active {
      display: inline-block;
  }
  .u-loading-btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 67px;
    margin: 8px;
    background: url('images/icons/Polygon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: u-loading-btn 10s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes u-loading-btn {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  
.load-btn {
    font-weight: 700;
    background: #18CFAB;
    padding-left: 50px;
}
.load-btn::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("images/icons/plus-sign.png");
    background-position: center;
    background-repeat: no-repeat;
    top: calc(50% - 10px);
    left: 23px;
}
.news {
    margin-bottom: 130px;
}
.news-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__title {
    margin-bottom: 100px;
}
.news__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news__item:not(:nth-child(4n)) {
    margin-right: 26px;
}
.news__item {
    position: relative;
    display: block;
    margin-bottom: 46px;
}
.news__item:hover .news__info-title {
    color: #18CFAB;
}
.news__item:hover .news__date {
    background: #18CFAB;
}
.news__item-img {
    width: 263px;
    height: 208px;
}
.news__date {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background: #203E38;
    color: white;
    top: 0;
    right: 0;
}
.news__day {
    margin: 14px 0;
}
.news__month {
    margin-bottom: 13px;
}
.news__info {
    padding: 0 16px;
}
.news__info-title {
    font-size: 18px;
    color: #717171;
    font-weight: 700;
    margin: 16px 0;
}
.news__info-text {
    display: inline-block;
    font-size: 14px;
    color: #777777;
    margin-right: 10px;
}
.reviews {
    position: relative;
    background-image: url("images/Sections-background/section-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 108px;
}
.reviews::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 1, 1, 0.377);
    top: 0;
    left: 0;
    z-index: 5;
}
.reviews-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.reviews__title {
    color: white;
    margin: 99px 0;
}
.reviews__title::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: calc(100% + 26px);
    left: 42%;
}
.reviews__title::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background: #18CFAB;
    top: calc(100% + 30px);
    left: 45%;
}
.reviews__quotes {
    margin-bottom: 37px;
}
.reviews__text {
    margin-bottom: 30px;
}
.reviews__text-item {
    display: none;
}
.reviews__text-item--active {
    display: block;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: #BBBBBB;
}
.reviews__names {
    margin-bottom: 18px;
}
.reviews__names-item {
    display: none;
}
.reviews__names-item--active {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #18CFAB;
}
.reviews__job {
    margin-bottom: 38px;
}
.reviews__job-item {
    display: none;
}
.reviews__job-item--active {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    color: #BBBBBB
}
.reviews__users {
    margin-bottom: 69px;
}
.reviews__users-item {
    display: none;
}
.reviews__users-item--active {
    display: block;
    background-color: rgba(11, 114, 93, 0.541);
    border-radius: 50%;
    padding: 11px;
    height: 143px;
}
.reviews__users-img {
    width: 143px;
    height: 143px;
    border-radius: 50%;
}
.reviews__slider {
    display: flex;
    align-items: center;
    margin-bottom: 98px;
}
.reviews__btn {
    cursor: pointer;
    padding: 8px 11px;
    border: 1px solid #BBBBBB;
}
.reviews__btn:not(:last-child) {
    margin-right: 30px;
}
.reviews__btn:not(:first-child) {
    margin-left: 30px;
}
.reviews__btn:hover {
    border: 1px solid #18CFAB;
    background: #18CFAB;
}
.reviews__btn:hover path {
    fill: white;
}
.reviews__slider-users {
    display: flex;
    align-items: center;
}
.reviews__slider-item {
    background-color: rgba(11, 114, 93, 0.541);
    border-radius: 50%;
    padding: 5px;
    height: 60px;
}
.reviews__slider-item:not(.reviews__slider-item--active) {
    cursor: pointer;
}
.reviews__slider-item:not(:last-child) {
    margin-right: 27px;
}
.reviews__slider-item--active {
    margin-bottom: 20px;
}
.reviews__slider-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.gallery-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery__title {
    margin-bottom: 115px;
}
.gallery__photos-item {
    display: none;
    margin-bottom: 20px;
    width: 370px;
}
.gallery__photos-item--active {
    display: block;
}
.gallery__photos-img {
    width: 100%;
}
.gallery__photos {
    margin-bottom: 32px;
}
.gallery__loading-btn {
    margin-bottom: 47px;
}
.gallery__loading-btn--active {
    display: inline-block;
}
.gallery__button {
    display: none;
    margin-bottom: 67px;
}
.gallery__button--active {
    display: block;
}
.footer {
    background-color: #22353F;
}
.footer-inner {
    display: flex;
    justify-content: center;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
}
.footer__text {
    padding: 47px 0;
}
.footer__text-colored {
    color: #18CFAB;
}